cv/*.pdf
cv/*.aux
cv/*.log
cv/*.out
cv/*.gz
cv/*.pdf

publicationList/*.pdf
publicationList/*.aux
publicationList/*.log
publicationList/*.out
publicationList/*.gz
publicationList/*.pdf

realizedProjects/*.pdf
realizedProjects/*.aux
realizedProjects/*.log
realizedProjects/*.out
realizedProjects/*.gz
realizedProjects/*.pdf
